<footer>

	<div class="footer">

		<div class="social">
		  	<a href="http://www.twitter.com/haran480"><img class="social-icon" src="/images/footer/twitter.svg"></a>
		  	<a href="http://www.linkedin.com/in/hariharan-s-434552b0/"><img class="social-icon" src="/images/footer/linkedin.svg"></a>
		  	<a href="https://github.com/s-hariharq"><img class="social-icon" src="/images/footer/github.svg"></a>
		</div>

		<strong>&copy; <time datetime="{{ site.time | date: "%B %-d, %Y" }}">{{ site.time | date: '%Y' }}</time> Hariharan. All rights reserved.</strong>
		<br/>
		{% for page in site.nav_list %}
			<a href="{{ page[1] }}">{{ page[0] }}</a>
			&nbsp;&nbsp;&nbsp;&nbsp;
		{% endfor %}
		<br/>
		Contact me at <code>hari.haran480@gmail.com</code>
	</div>
</footer>
